//-
  Math Tablet
  Copyright (C) 2019 Public Invention
  https://pubinv.github.io/PubInv/

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

extends layout

mixin folderIcon
  img.icon(src='/images/folder.svg')

block styles
  link(rel='stylesheet', href='/stylesheets/folder.css')

block content
  h1
    if pathSegments.length == 0
      | home
    else
      a(href='/') home
      | /
      each segment, i in pathSegments
        if i < pathSegments.length-1
          - const url = '/' + pathSegments.slice(0,i+1).join('/') + '/'
          a(href=url)= segment
          | /
        else
          = segment
  form(method='POST')

    div(style='margin-bottom: 1em')
      table
        each entry in folders
          tr
            td
              input(type='checkbox', name=`folders[${entry.name}]`, value=entry.path)
            td(colspan=2)
              +folderIcon
              a(href=`${entry.path}`)= entry.name

        tr
          td
          td
            input(type='text', name='folderName', placeholder="Folder name")
          td
            button(type='submit', name='action', value='newFolder') New Folder

        each entry in notebooks
          tr
            td
              input(type='checkbox', name=`notebooks[${entry.name}]`, value=entry.path)
            td(colspan=2)
              a(href=`${entry.path}`)= entry.name
        if folders.length==0 && notebooks.length==0
          tr
            td
            td(colspan=2)
              i Folder is empty.
        tr
          td
          td
            input(type='text', name='notebookName', placeholder="Notebook name")
          td
            button(type='submit', name='action', value='newNotebook') New Notebook
        tr
          td
          td(colspan=2)
            button(type='submit', name='action', value='deleteSelected') Delete Selected

