//-
  Math Tablet
  Copyright (C) 2019 Public Invention
  https://pubinv.github.io/PubInv/

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

extends layout

//- Inline SVG icons from https://iconmonstr.com.
include iconmonstr

mixin debugPopup
  #debugPopup(style='display:none')
    button.close &#x2715;
    .content

mixin header
  #header
    span
      +keyboardInputSelector
    div
      each segment, i in pathSegments
        - const url = '/' + pathSegments.slice(0,i+1).join('/') + '/';
        a(href=url)= segment
        | /
      = notebookName
    span
      button#refreshButton(title="Refresh page")
        +svgIconRefresh2
      button#fullscreenButton(title="Full screen")
        +svgIconFullscreen7
      button#exportButton(title="Export notebook")
        +svgIconLogOut18
      button#debugButton(title="Debug window")
        +svgIconBug12
      button#userButton(title="User settings")
        +svgIconUser1

mixin keyboardInputSelector
  select#keyboardInputType()
    option(value='TEX-EXPRESSION') LaTeX
    option(value='MATHML-XML') MathML
    option(value='PLAIN-TEXT') Text
    option(value='WOLFRAM-EXPRESSION', selected=true) Wolfram

mixin sidebar
  #sidebar
    button#homeButton(title="Math Tablet home")
      +svgIconHome6
    button#thumbnailViewButton(title="Page thumbnail view")
      +svgIconFile12
    button#pageViewButton(title="Reading view")
      +svgIconFile5
    button#notebookViewButton(title="Editing view")
      +svgIconFile18
    .separator
    button#inputKeyboardButton(title="Insert keyboard cell")
      +svgIconKeyboard2
    button#insertDrawingButton(title="Insert drawing cell")
      +svgIconPencil9
    button#insertHintButton(title="Insert hint cell")
      +svgIconIdea10
    .separator
    button#undoButton(disabled=true, title="Undo")
      +svgIconUndo4
    button#redoButton(disabled=true, title="Redo")
      +svgIconRedo4
    .separator
    button#developmentButton(title="For development use only")
      +svgIconClothing18
    button#trashButton(disabled=true, title="Trash")
      +svgIconTrashCan2

mixin tools
  #tools

block styles
  link(rel='stylesheet', href='/stylesheets/katex-0.10.1.css')
  link(rel='stylesheet', href='/stylesheets/notebook.css')

block scripts
  script(src='/javascripts/pep-0.4.3.js')
  script(src='/javascripts/katex-0.10.1.js')
  script(type='module', src='/javascripts/notebook/app.js')

block content
  +debugPopup
  +header
  +sidebar
  #content
    #thumbnailView(style='display:none', tabindex=0)
    #pageView(style='display:none', tabindex=0)
    #notebookView(style='display:none', tabindex=0)
  +tools
