extends layout

block metatags
  //- These meta tags are copied from MyScript samples.
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="mobile-web-app-capable", content="yes")
  meta(name="HandheldFriendly", content="true")

block styles
  link(rel='stylesheet', href='/stylesheets/myscript.min.css')
  link(rel='stylesheet', href='/stylesheets/katex-0.10.1.css')
  link(rel='stylesheet', href='/stylesheets/notebook.css')

block scripts
  script(src='/javascripts/pep-0.4.3.js')
  script(src='/javascripts/katex-0.10.1.js')
  script(src='/javascripts/myscript.min.js')
  script(type='module', src='/javascripts/app.js')

block content
  #menu
    div TBD: Menu
    div= notebookName
    div
      a(href=`/${userName}`)= userName
  #tDoc.tdoc
  #footer
    #previewArea
      #previewText(style='display:none')
      #previewMath(style='display:none')
      #previewMathJsPlain(style='display:none')
      #previewControls
        button#insertButton(disabled=true) I
    #inputArea('data-applicationkey'=credentials.myscript.applicationKey, 'data-hmackey'=credentials.myscript.hmacKey)
      #inputSelector
        button#inputMathButton HM
        button#inputTextButton HT
        button#inputMathJsPlainButton MJP
      #inputText(style='display:none')
      #inputMath(style='display:none')
      #inputMathJsPlain(style='display:none')
        textarea(placeholder="e.g. r = x^2 + y^2")
      #inputControls
        button#undoButton(disabled=true) U
        button#redoButton(disabled=true) R
        button#clearButton(disabled=true) Cl
        button#convertButton(disabled=true) Co
