//-
  Math Tablet
  Copyright (C) 2019 Public Invention
  https://pubinv.github.io/PubInv/

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

extends layout

//- Inline SVG icons from https://iconmonstr.com.
include iconmonstr

mixin header
  #header
    span
      button#homeButton(title="Math Tablet home")
        +svgIconHome6
      +keyboardInputSelector
    div
      each segment, i in pathSegments
        - const url = '/' + pathSegments.slice(0,i+1).join('/') + '/';
        a(href=url)= segment
        | /
      = notebookName
    span
      button#debugButton(title="Debug window")
        +svgIconBug12
      button#userButton(title="User settings")
        +svgIconUser1

mixin footer
  #footer
    #previewContainer
      #preview
    #inputArea('data-applicationkey'=credentials.myscript.applicationKey, 'data-hmackey'=credentials.myscript.hmacKey)
      #inputText(style='display:none')
      #inputMath(style='display:none')

mixin keyboardInputSelector
  select#keyboardInputType()
    option(value='LATEX') LaTeX
    option(value='MATHJS') MathJS
    option(value='MATHML') MathML
    option(value='TEXT') Text
    option(value='WOLFRAM', selected=true) Wolfram

mixin sidebar
  #sidebar
    button#thumbnailViewButton(disabled=true, title="Page thumbnail view")
      +svgIconFile12
    button#pageViewButton(disabled=true, title="Reading view")
      +svgIconFile5
    button#cellViewButton(disabled=true, title="Editing view")
      +svgIconFile18
    .separator
    button#inputKeyboardButton(title="Keyboard input")
      +svgIconKeyboard2
    .separator
    button#undoButton(disabled=true, title="Undo")
      +svgIconUndo4
    button#redoButton(disabled=true, title="Redo")
      +svgIconRedo4
    .separator
    button#trashButton(disabled=true, title="Trash")
      +svgIconTrashCan2
    #inputAreaButtons
      button#inputMathButton(title="Handwritten math")
        +svgIconText8
      button#inputTextButton(title="Handwritten text")
        +svgIconText1
      button#clearButton(disabled=true, title="Clear handwriting input")
        +svgIconEraser2
      button#convertButton(disabled=true, title="Convert handwriting")
        +svgIconArrow13
      button#insertButton(disabled=true, title="Insert input into notebook")
        +svgIconArrow4

block metatags
  //- These meta tags are copied from MyScript samples.
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="mobile-web-app-capable", content="yes")
  meta(name="HandheldFriendly", content="true")

block styles
  link(rel='stylesheet', href='/stylesheets/myscript-4.3.0.min.css')
  link(rel='stylesheet', href='/stylesheets/katex-0.10.1.css')
  link(rel='stylesheet', href='/stylesheets/notebook.css')

block scripts
  script(src='/javascripts/pep-0.4.3.js')
  script(src='/javascripts/katex-0.10.1.js')
  script(src='/javascripts/myscript-4.3.0.min.js')
  script(type='module', src='/javascripts/app.js')

block content
  #debugWindow(style='display:none')
  +header
  +sidebar
  +footer
  #content
