extends layout

block content
  #banner
    #bannerContent Welcome to Math Tablet!
    button#bannerClose &#x2715;
  #menu
    button#saveButton(disabled=true) Save
    button#enhanceButton(disabled=true) Enhance
  #contentArea Lorem ipsum
  #footer
    #previewArea
      #previewText
      #previewMath(style='display:none')
      #previewControls
        button#insertButton(disabled=true) I
    #inputArea
      #inputSelector
        button#textInputButton(disabled=true) T
        button#mathInputButton M
      #textInput.inputArea
        #textEditor.editor
        .inputControls
          button#textUndo(disabled=true) U
          button#textRedo(disabled=true) R
          button#textClear(disabled=true) Cl
          button#textConvert(disabled=true) Co
      #mathInput.inputArea(style='display:none')
        #mathEditor.editor
        .inputControls
          button#mathUndo(disabled=true) U
          button#mathRedo(disabled=true) R
          button#mathClear(disabled=true) Cl
          button#mathConvert(disabled=true) Co
