extends layout

block content
  #banner
    #bannerContent Welcome to Math Tablet!
    button#bannerClose &#x2715;
  #menu
    button#saveButton(disabled=true) Save
    button#enhanceButton(disabled=true) Enhance
  #contentArea Lorem ipsum
  #footer
    #previewArea
      #previewText
      #previewMath(style='display:none')
      #previewControls
        button#insertButton(disabled=true) I
    #inputArea
      #inputSelector
        button#textButton(disabled=true) T
        button#mathButton M
      #inputText
      #inputMath(style='display:none')
      #inputControls
        button#undoButton(disabled=true) U
        button#redoButton(disabled=true) R
        button#clearButton(disabled=true) Cl
        button#convertButton(disabled=true) Co
