extends layout

block content
  #banner
    #bannerContent Welcome to Math Tablet!
    button#bannerClose &#x2715;
  #menu
    button#saveButton(disabled=true) Save
    button#enhanceButton(disabled=true) Enhance
  #tDoc
  #footer
    #previewArea
      #previewText(style='display:none')
      #previewMath
      #previewControls
        button#insertButton(disabled=true) I
    #inputArea
      #inputSelector
        button#textButton T
        button#mathButton(disabled=true) M
      #inputText(style='display:none')
      #inputMath
      #inputControls
        button#undoButton(disabled=true) U
        button#redoButton(disabled=true) R
        button#clearButton(disabled=true) Cl
        button#convertButton(disabled=true) Co
